


@media screen and (max-width: 580px) {

  .main-left {
    width: 55px;
    padding: 0 2px;
  }

  .logo-spoty {
    display: none;
  }

  .logo-spoty-2 {
    display: inline-block;
    text-align: center;
  }