

/* header */


header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  justify-content: flex-end;
  align-items: center;
  
}

.bottone {
  background-color: red;
  display: inline-block;
  padding: 12px 46px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
  margin-left: 7px;
  margin-top: 9px;
  text-transform: uppercase;
  height: 34px;
  text-align: center;

}

/* header */


/* Main  */

.main-left {
  width: 250px;
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: rgb(245, 245, 245);
}

.main-center {
  width: calc(100% - 250px);
  height: calc(100% - 100px );
  margin-top: 100px;
  background-color: blue;
  overflow-y: auto;
  overflow-x: hidden;

}

.nav-top{
  height: calc(100% - 70px);
}

.nav-bottom {
  height: 70px;
}

.nav-list {
  text-align: center;
}
.nav-sezioni {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

.add-play {
  padding-bottom: 20px;
  vertical-align: middle;
}


.logo-spoty {
  width: 53%;
  margin: 20px;
}

ul li {
  margin: 5px 13px;
}

.playlist{
  margin: 5px 13px;
}

.link-playlist{
  color: rgb(163, 163, 163);
  font-size: 35px;
}


h2 .transf-text {
  text-transform: uppercase;
  font-size: 13px;
}



p {
  justify-content: flex-end;
}



.bordo-installer {
  border: 1px solid red;
}

.album-recent {
  flex-direction: row;
  flex-wrap: wrap;
}

.album-recent img {
  width: 100%;
}

.img-album {
  width: calc((100% / 6) - 20px);
  margin-left:20px ;

}

.title-album {
  text-align: center;
}

.circular-photo {
  border-radius: 50%;
  }



/* Main */




/* Footer */

.barra-music {
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.player-center {
  width: 40%;
}

.player-right {
  width: 230px;
}

.img-song {
  width: 10%;
  margin-left: 10px;
  margin-right: 8px;
}

.heart {
  margin-left: 35px;
  margin-top: 10px;
}

.folder {
  margin-left: 10px;
  margin-top: 10px;
}


.border-span {
  border-left-color: rgb(197, 197, 197);
  border-left-style: solid;
  border-left-width: 380px;
  font-size: 5px;
}

.buttons-music {
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
}


.track-play {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.7rem
}

.frame-music {
  min-width: calc(100% - 100px);
}

.player-right {
  width: 300px;
  padding-right: 15px;
  padding-left: 90px;
}

.volume {
  width: 48%;
}

.time-total,
.time-volume {
  width: 100%;
  background-color:rgb(94, 94, 94);
  border-radius: 5px;
}

.time-passed,
.level-volume {
  width: 40%;
  border: 2px solid rgb(196, 196, 196);
}

.player-right i{
  padding-right: 15px;
}

.level-volume {
  margin-top: 8px;
}

.buttons-music i {
  margin: 8px;
}

.grey {
 color:  rgb(141, 141, 141);
}



/* Footer */
































/* Main */