

/* header */


header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
}

.bottone {
  background-color: red;
  display: inline-block;
  padding: 10px 23px;
  border-radius: 102px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 13px;
  margin-top: 9px;
  text-transform: uppercase;
}








/* header */


/* Main  */

main {
  height: calc(100vh - 100px);

}

.main-left {
  width: 250px;
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: rgb(245, 245, 245);
}

.main-center {
  width: calc(100% - 250px);
  height: calc(100% - 100px );
  margin-top: 100px;
  background-color: blue;
  overflow-y: auto;
  overflow-x: hidden;

}

.nav-top{
  height: calc(100% - 70px);
}

.nav-bottom {
  height: 70px;
}

.nav-list {
  text-align: center;
}
.nav-sezioni {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

.add-play {
  padding-bottom: 20px;
  vertical-align: middle;
}


.logo-spoty {
  width: 53%;
  margin: 20px;
}

ul li {
  margin: 5px 13px;
}

.playlist{
  margin: 5px 13px;
}


h2 {
  text-transform: uppercase;
  font-size: 13px;
}



p {
  justify-content: flex-end;
}



.bordo-installer {
  border: 1px solid red;
}


/* Main */




/* Footer */

.barra-music {
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.player-center {
  width: 40%;
}

.player-right {
  width: 230px;
}

.img-song {
  width: 10%;

}










/* Footer */
































/* Main */