* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rowdies', cursive;
}


main {
  height: calc(100vh - 100px);
  background-color: rgb(20, 25, 34);

}

footer {
  color: white;
  background-color: rgb(40, 40, 40);
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a .text-white{
  color: white;
}



.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

.album-listen {
  margin-top: 15px;
}

.listen-text {
  margin-bottom: 20px;
  margin-left: 20px;
}